<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <link rel="stylesheet" href="/css/style.css" />
  <title>Trip Scav</title>
</head>

<body>
  <!-- ================ -->
  <!--        NavBar -->
  <!-- =================== -->
  <nav class="navbar p-2" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <h1 class="title is-4">Trip Scav</h1>
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start"></div>
      <div class="navbar-end">
        {{#if loggedIn}}
          <a id="logout" class="navbar-item" href="/">Logout</a>
          {{else}}
        <a id="login" class="navbar-item" href="/login">Login</a>
        {{/if}}
        <a id="signup" href="/signup" class="navbar-item">Signup</a>
      </div>
    </div>
  </nav>
  <main class="main is-variable is-2-mobile is-0-tablet is-3-desktop is-8-widescreen is-1-fullhd">
    <div class="background">
      <video  preload="auto" playsinline loop width="100%" height="100%" autoplay muted>
        <source src="/mov/TS.mov" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">
      </video>
      <div class="responsive-google-slides">
        <iframe
          src="https://docs.google.com/presentation/d/e/2PACX-1vRnxMpVbaigiMLSd4-t_G2bkqWeG66FCozVXWk6C5-_VvDQ3Vjel0x6e3081_ogqHpeLB1q5bquZ5Tt/embed?start=true&loop=true&delayms=2000&rm=minimal"></iframe>
      </div>
      <main class="container container-fluid mt-5">
        <!-- Render the sub layout -->
        {{{ body }}}
      </main>
      <footer>

      </footer>
    </div> 
    {{!-- Tie Fighter Flying --}}
    <div id = "cursor" ></div>

  {{!-- Modal Will Use Later when Routes Done --}}
  {{!-- <div class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">

   <form id ="signup-form">
<div class="field">
    <label class="label">Email</label>
    <div class="control has-icons-left has-icons-right">
        <input id="email-signup" class="input is-danger" type="email" placeholder="Email">
        <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
        </span>
        <span class="icon is-small is-right">
            <i class="fas fa-exclamation-triangle"></i>
        </span>
    </div>
</div>
<div class="field">
    <label class="label">Username</label>
    <div class="control has-icons-left has-icons-right">
        <input id="username-signup" class="input is-success" type="text" placeholder="Username">
        <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
        </span>
        <span class="icon is-small is-right">
            <i class="fas fa-check"></i>
        </span>
    </div>
</div>
<div class="field">
    <label class="label">Password</label>
    <div class="control">
        <input id="password-signup" class="input" type="text" placeholder="Password">
    </div>
</div>
<div class="field is-grouped">
    <div class="control">
        <button class="button is-link">Submit</button>
    </div>
</div>
</form>
 <button class="modal-close is-large" aria-label="close"></button>
</div> --}}


<!-- Cursor and Navigation Bar Javascript -->
    <script src="/js/menu.js"></script>
    {{!-- Modal script --}}
        {{!-- <script src="/js/signup.js"></script> --}}
    <!-- Render script for logged in users only -->
    {{#if loggedIn}} 
    <script src="/js/logout.js"></script> 
     {{/if}}
 
   

</body>
</html>