<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TripScav</title>
  <link rel="stylesheet" href="/public/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
</head>

<body>
  <header class="display-flex justify-space-between align-center p-2">
    <h1>
      Start Your Search
    </h1>
  </header>
  <main class="container container-fluid mt-5">
    <!-- Render the contents of the sub layout here -->
    {{{ body }}}
  </main>
  <footer>
      
  </footer>
</body>

</html>
