<h1 class="title">Search Trip Scav for your next destination!</h1>
  <div class="control">
    <form id="searchForm">
<input class="input is-rounded" id="citySearch" type="text" style="width:80%" placeholder="Search a Country">
  <button class="button is-warning" id="search-button">Search</button>

    </form>
  </div> 

{{!-- {{#each}} --}}
{{!-- <div>script handlebars</div>
<div id="event_name">Hello</div>
<div id="rating"></div>
<div id="description"></div>
<div id="city"></div>
<a href="" id="map"></a>
<img id="image"> --}}
{{!-- {{/each}} --}}

<div id="location"> </div>

<div id="app"></div>

<script src="./js/script.js"></script>
