<h1 class="title">Search Trip Scav for your next destination!</h1>
<div class="control">
  <input class="input is-rounded" id="search-bar" type="text" style="width:80%" placeholder="Search a Country">
  <button onclick="search()" class="button is-warning" id="search-button">Search</button>
</div>

<div id="app"></div>


<script src="./js/script.js"></script>