{{!-- {{#each}} --}}
<div>script handlebars</div>
<div id="event_name">Hello</div>
<div id="rating"></div>
<div id="description"></div>
<div id="city"></div>
<a href="" id="map"></a>
<img id="image">
{{!-- {{/each}} --}}

<script src="./js/script.js"></script>