<h1 class="title">Search Trip Scav for your next destination!</h1>
  <div class="control">
    <input class="input is-rounded" id="search-bar" type="text" style="width:80%" placeholder="Search a Country">
    <button onclick="search()" class="button is-warning" id="search-button">Search</button>
  </div> 

{{!-- {{#each}} --}}
{{!-- <div>script handlebars</div>
<div id="event_name">Hello</div>
<div id="rating"></div>
<div id="description"></div>
<div id="city"></div>
<a href="" id="map"></a>
<img id="image"> --}}
{{!-- {{/each}} --}}

<div id="app"></div>

{{!-- <script src="./src/bundle.js"></script> --}}
{{!-- <script src="bundle.js"></script> --}}
{{!-- <script src="src/bundle.js"></script> --}}
<script src="./js/script.js"></script>