{{!-- {{#each}} --}}
<h1 class="title">Search Trip Scav for your next destination!</h1>
<div class="search-bar" style="width:500px;">
  <input id="search-input" type="text" name="places" placeholder="Search a City">
  <button class="button is-success" id="search-button">Search</button>

</div>

<div id="event_name">Hello</div>
<div id="rating"></div>
<div id="description"></div>
<div id="city"></div>
<a href="" id="map"></a>
<img id="image">
{{!-- {{/each}} --}}

<script src="./js/script.js"></script>