<h1 class="title">Search Trip Scav for your next destination!</h1>
<div class="control columns">
  <input class="input is-rounded" id="search-bar" type="text" style="width:80%" placeholder="Search a Country" autofocus="true">
  <button onclick="saveUrl();search()" class="button is-warning" id="search-button">Search</button>
</div>

<div id="app" class="columns is-multiline"></div>></div>

<script src="./js/script.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>