@font-face {
  font-family: "Starwars";
  src: url("../font/Starjhol.ttf");
}


html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--main-font);
  background-color: (var(--dark-color));
  animation: transitionIn 0.75s;
}



/* Google Slides */
.responsive-google-slides {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 Ratio */
    height: 0;
    overflow: hidden;
  }
  .responsive-google-slides iframe {
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }


  .navbar-item, .navbar-link {
    color:yellow;
    display: block;
    line-height: 1.5;
    padding: .5rem .75rem;
    position: relative;
    background-color:var(--dark-color);
}


.navbar-menu {
  background-color: black;
  box-shadow: 0 8px 16px rgb(10 10 10 / 10%);
  padding: .5rem 0;
}


a {
  color:yellow;
  font-family: "Starwars";
}



/* Navbar Logo */
.title {
  color:yellow;
  font-family: "Starwars";
}