@font-face {
  font-family: "Starwars";
  src: url("../font/Starjhol.ttf");
}


html {
  scroll-behavior: smooth;
  background-color:black;
  cursor: url('../cursor/Milcur.cur'), default;
 
}

/* Lightsaber Cursor Link Pointer */
.navbar-link, a.navbar-item {
  cursor: url('../cursor/Gsaber.cur'), pointer;
}


#cursor {
  height : 50px;
  width: 50px;
  background:url("../cursor/tiecurs.png");
  background-repeat:no-repeat;
  position:absolute;
  display:none;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}


/* Google Slides Old Settings */
/* .responsive-google-slides {
    position: relative;
    padding-bottom: 56.25%; 
    height: 0;
    overflow: hidden;
  }
  .responsive-google-slides iframe {
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  } */

  /* New Google Slides Position and Shape */
  .responsive-google-slides {
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    position: absolute;
    top: 77px;
}
  .responsive-google-slides iframe {
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    position: absolute;
    top: -5px;
}

/* Nav Bar Stuff */
.navbar {
  background-color:black;
}

  .navbar-item .navbar-link {
    color:yellow;
    display: block;
    line-height: 1.5;
    padding: .5rem .75rem;
    position: relative;
    background-color:var(--dark-color);
}


.navbar-menu {
  color:yellow;
  box-shadow: 0 8px 16px rgb(10 10 10 / 10%);
  padding: .5rem 0;
}

.navbar-menu.is-active {
  background-color: transparent;
}



a.navbar-item {
  color:yellow !important;
  font-family: "Starwars";
}


/* Navbar Logo */
.title {
  color:yellow;
  font-family: "Starwars";
}